<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
  <meta charset="UTF-8" />
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <!-- Hero Section -->
   <%- include('partials/navbar') %>

  <div class="hero min-h-screen bg-base-200 text-center">
    <div class>
      <img src="https://tse4.mm.bing.net/th/id/OIP.8B2EiA0pPMAtHRbEPJ0IvgHaF4?cb=ucfimgc2&rs=1&pid=ImgDetMain&o=7&rm=3" alt="404 Not Found" />
      <h1 class>Page Not Found! </h1>
      <p><%= message %> </p>

    </div>
  </div>
</body>
</html>
