<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
  <meta charset="UTF-8" />
  <title>About Moustafa Elkerdany</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <%- include('partials/navbar') %>

  <!-- Hero Section -->
  <div class="hero bg-base-200 min-h-[40vh]">
    <div class="hero-content text-center">
      <div>
        <h1>My short story</h1>
        <p class>Moustafa Elkerdany</p>
      </div>
    </div>
  </div>

  <!-- About Grid Section -->
  <div class="container mx-auto p-8">
    <div class="grid items-center">

      <!-- Left Column: Image -->
      <div class>
        <img src="https://www.elitefts.com/wp/wp-content/uploads/2010/11/BRENT_METCALF.jpg" alt="Moustafa Elkerdany" />
      </div>

      
      <div>
        <h2 class>Hello! I'm Moustafa</h2>
        <p>
          I’m a Computer Programming student at Seneca College. I enjoy creating projects
          in languages like C, C++, JavaScript, and Python.
        </p>
        <p class>
          Outside of coding, I’m a competitive wrestler, always training hard to improve
          both mentally and physically. I enjoy gaming, exploring tech, and continuously learning new skills
          related to software development.
        </p>
      </div>

    </div>
  </div>
</body>
</html>
